<div data-ng-controller="cropController as vm" 
    data-flow-init
    flow-file-added="vm.onImageDrop( $file, $event, $flow)"
    flow-name="obj.flow">
    <div class="header">
        <h2>Image <strong>Croping</strong></h2>
    </div> 
    <div class="row" data-ng-if="vm.emptySlot" data-flow-drag-enter="dropClass='drag-over'" data-flow-drag-leave="dropClass=''">
        <div data-ng-hide="$flow.files[0]" class="drop" data-flow-drop data-ng-class="dropClass" id="dropArea" >
            Drag And Drop your file here
        </div>
        <div class="col-md-12 text-center" style="margin-top: 1em;">
            <img flow-img="$flow.files[0]" id="imageDropped" data-ng-model="cropImg"/>
        </div>
        <div class="col-md-12 text-center" style="margin-top: 1em;">
            <a href="" class="btn btn-primary" data-ng-click="vm.startCroping()">Start cropping</a>
        </div>
    </div>
    <div class="row" data-ng-if="!vm.emptySlot">
        <div class="col-lg-12">
            <div class="panel panel-transparent">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="img-container" style="position: relative;">
                                <img src="" data-ng-src="{{vm.imgSrc}}" alt="picture 1">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h3 class="m-t-0"><strong>Preview</strong></h3>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="img-preview img-preview-sm" style="overflow: hidden;">
                                        <img src="" data-ng-src="{{vm.imgSrc}}" alt="picture 1" style="height: 113px; margin-left: -20px; margin-top: -11px; width: 200px;">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="img-preview img-preview-xs" style="overflow: hidden;">
                                        <img src="" data-ng-src="{{vm.imgSrc}}" alt="picture 1" style="height: 45px; margin-left: -8px; margin-top: -4px; width: 80px;">
                                    </div>

                                </div>
                            </div>
                            <hr>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="" class="btn btn-success pull-right">Save image</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>